@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}
.content-about .about{
    color: rgba(160,174,192,1);
    border-bottom: tomato 2px solid;
    display: inline;
    font-size: 20px;
}
.content-about h2{
    margin: 1rem 0;
    font-size: 1.875rem;
    font-weight: 700;
}
.content-about span{
    color: tomato;
}
.content-about p{
    color: rgba(74,85,104,1);
}
.content-about{
    margin-top: 100px;
    margin-bottom: 50px;
}
.animation{
    margin-top: 50px;
}
@media screen and (max-width:768px) {
    .content-about{
        margin-top: 0rem;
        margin-bottom: 0px;
        padding: 2rem;
    }
}
.service-section .icon-box {
	margin-bottom: 20px;
	padding: 30px;
	border-radius: 6px;
	background-color: #f8f9fa;
}
.service-section .icon-box:hover .service-title a {
	color: tomato;
}
.service-section .icon-box .service-icon {
	float: left;
	color: tomato;
	font-size: 40px;
}
.service-section .icon-box .service-title {
	margin-left: 70px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.2;
}
.service-section .icon-box .service-title a {
	color: #556270;
	transition: 0.3s;
	text-decoration: none;
}
.service-section .icon-box .service-para {
	margin-left: 70px;
	line-height: 24px;
	font-size: 14px;
}
.service-section .service-main-heading {
	color: #556270;
	padding: 0;
	margin-bottom: 20px;
	line-height: 1;
	font-size: 60px;
	font-weight: 600;
}